@import './reset.scss';

body {
  background: #f5f5f5;
}
.wrapper {
  width: 1184px;
  max-width: 1184px;
  margin: 0 auto;
}

.margin-auto {
  margin: 0 auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 10px;
  background: #bbbfc4;
}
